$spacing: 4px;
$timing: 0.25s;

@function spacing($num) {
  @return ($spacing * $num);
}
@function timing($num) {
  @return ($timing * $num);
}


$cprimary: #448aff;
$csecondary: #d500f9;

$cgray: #c4c4c4;
$cgray1: #f5f5f5;
