@import "/scss/variables.scss";
.limitSelector {
  margin-left: spacing(2);
  margin-right: spacing(1);
  width: spacing(11);
  &::before,
  &::after {
    border: none !important;
  }
  & > div {
    background-color: inherit;
  }
}
